@tailwind base;
@tailwind components;
@tailwind utilities;


.textAa {
    display: -webkit-box;
    -webkit-line-clamp: 2; /*Kaç Stırda sınırlamak istiyorsanız */
    -webkit-box-orient: vertical; 
    overflow:hidden;
}